<% @posts.each do |post| %>
  <div class="row card-desk">
    <div class="card col-10 m-2" style="width: 18rem;">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted"><%= post.created_at.strftime('%Y/%m/%d') %>
          <%= link_to user_path(post.user_id) do %>
          <%= image_tag post.user.get_profile_image(30,30), class: "rounded-circle card-image" %>
          <% end %></h6>
        <h5 class="card-title">店名:<%= link_to post.title, post_path(post.id) %></h5>
        <h6 class="card-subtitle mb-2 text-muted">エリア:<%= post.area.name %></h6>
        <h6 class="card-subtitle mb-2 text-muted">タグ:
          <% post.tags.each do |tag| %>
          <%= tag.name %>
          <% end %></h6>
        <p class="card-text">内容:<%= post.body %></p>
        <p class="rate" date-rate="<%= post.rate %>"></p>
        <h6 class="favorite_buttons_<%= post.id %>">
          <%= render "public/favorites/favorite", post: post %></h6>
        <h6 class="comment_count">
          コメント<%= link_to post.post_comments.count, post_path(post.id) %>件
        </h6>
      </div>
    </div>
  </div>
<% end %>

<%= render "layouts/raty" %>