<span class="border border-warning p-2">
  <div class="col-md-12">
    <h6><strong>[検索]</strong></h6>
    <%= search_form_for(@q) do |f| %>
      <div class="col-10">
      <%= f.label :area_id_eq, "エリア選択:" %>
      <%= f.collection_select :area_id_eq, @areas, :id, :name, :include_blank => "指定なし" %><br>
      </div>
      <div class="col-10">
      <%= f.label "関連タグ :(複数選択可)" %><br>
      <%= f.collection_check_boxes :tags_id_in, @tags, :id, :name %>
      </div>
      <div class="col-10">
      <%= f.submit "検索", class: 'btn btn-outline-dark btn-sm' %>
      </div>
    <% end %>
  </div>
</span>
