<%= render 'layouts/flash_message' %>
<h5>投稿編集</h5>
  <%= form_with model: @post do |f| %>
    <h4>お店の名前</h4>
      <%= f.text_field :title %>
    <h4>地域</h4>
      <%= f.collection_select :area_id, Area.all, :id, :name, :prompt =>"選択してください" %>
    <h4>内容</h4>
      <%= f.text_area :body %>
    <h4>関連タグ</h4>
      <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
      <div>
       <%= tag.label do %>
         <%= tag.check_box %>
         <%= tag.text %>
       <% end %>
      </div>
   <% end %>
 </div>
    <%= f.submit '変更' %>
  <% end %>
