<h1>投稿フォーム</h1>
  <%= form_with model: @post do |f| %>
    <h4>お店の名前</h4>
      <%= f.text_field :title %>
    <h4>地域</h4>
      <%= f.collection_select :area_id, Area.all, :id, :name, :prompt =>"選択してください" %>
    <h4>内容</h4>
      <%= f.text_area :body %>
    <h4>関連タグ</h4>
      <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
      <div>
       <%= tag.label do %>
         <%= tag.check_box %>
         <%= tag.text %>
       <% end %>
       <% end %>
      </div>
      
    <% if @post.id === nil %>
      <div class="form-group" id="star">
        <%= f.label :rate %>
        <%= f.hidden_field :rate, id: :review_star, class:'form-control' %>
      </div>
      
      <script>
      $(document).on('turbolinks:load', function() {
        $('#star').empty();
        $('#star').raty({
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: 'post[rate]',
          half: true,
        });
      })
      </script>
    <% else %>
      <%= render "static_rate", post: @post %>
    <% end %>
 </div>
    <%= f.submit '投稿' %>
  <% end %>
