<div class="container">
  <div class="row">
    <h4 class="col-10 pt-3"><strong>投稿一覧</strong></h4>
  </div>
    <div class='row'>
      <div class='col pt-3'>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ユーザー名</th>
              <th scope="col">タイトル</th>
              <th scope="col">内容</th>
              <th scope="col">Date</th>
              <th scope="col"></th>
            </tr>
          </thead>
            <% @posts.each do |post| %>
            <tbody>
              <tr>
                <th scope="row">
                  <%= link_to admin_user_path(post.user.id) do %>
                    <%= post.user.name %>
                  <% end %>
                </th>
                <td><%= post.title %></td>
                <td><%= post.body %></td>
                <td>
                  <%= post.created_at.strftime('%Y/%m/%d %H:%M') %>
                </td>
                <td><%= link_to "削除", admin_post_path(post), method: :delete, data: {confirm: "本当に削除しますか？"}, class: 'btn btn-outline-dark' %></td>
              </tr>
            </tbody>
            <% end %>
        </table>
      </div>
    </div>
  <%= paginate @posts %>
</div>