<div class="container">
  <div class="row">
    <div class="col-7 col-md-3 mx-auto">
      <h3 class="md-3 pt-5"><i class="fas fa-user-check"></i> 新規登録</h3>
        <%= form_with model: @user, url: user_registration_path do |f| %>
          <%= render "public/shared/error_messages", resource: resource %>
          
          <div class="field">
            <%= f.label :name, "name" %> <i class="fas fa-pen"></i><br/>
            <%= f.text_field :name, autofocus: true %>
          </div>
        
          <div class="field">
            <%= f.label :email %> <i class="fas fa-pen"></i><br/>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        
          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 字以上)</em>
            <% end %> <i class="fas fa-pen"></i>
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>
        
          <div class="field">
            <%= f.label :password_confirmation %> <i class="fas fa-pen"></i>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
        
          <div class="actions pt-4">
            <%= f.submit "Sign Up!", class: "btn btn-success" %>
          </div>
        <% end %>
        
        <%= render "public/shared/links" %>
    </div>
  </div>
</div>