<div class='container'>
  <div class="row">
    <h4 class="col-10 pt-3"><strong>コメント一覧</strong></h4>
  </div>
    
  <div class='row'>
    <dvi class='col-10 pt-3'>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">ユーザー</th>
            <th scope="col">コメント内容</th>
            <th scope="col">Date</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <% @post_comments.each do |post_comment| %>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td>
              <%= link_to admin_user_path(post_comment.user.id) do %>
                <%= post_comment.user.name %>
              <% end %>
            </td>
            <td>
              <%= post_comment.comment %>
            </td>
            <td>
              <%= post_comment.created_at.strftime('%Y/%m/%d %H:%M') %>
            </td>
            <td>
              <%= link_to "削除", admin_post_post_comment_path(post_comment.post, post_comment), method: :delete, data: {confirm: "本当に削除しますか？"}, class: 'btn btn-outline-dark' %>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
    </dvi>
  </div>
</div>

<%= paginate @post_comments %>