<div class='container'>
  <div class="row">
    <h4 class="col-10 pt-3"><strong>ユーザー</strong></h4>
  </div>
  
  <div class="row">
    <p class="col text-left">
      <%= sort_link(@q, :created_at, '登録順' ) %>
    </p>
  </div>
  
  <div class='row'>
    <dvi class='col pt-3'>
      <table class="table">
      <thead>
        <tr>
          <th scope="col">User ID</th>
          <th scope="col">プロフィール画像</th>
          <th scope="col">ユーザー名</th>
          <th scope="col">自己紹介文</th>
          <th scope="col">メールアドレス</th>
          <th scope="col">アカウント状況</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <% @users.each do |user| %>
      <tbody>
        <tr>
          <th scope="row"><%= user.id %></th>
          <td>
            <%= link_to admin_user_path(user.id) do %>
              <%= image_tag user.get_profile_image(80, 80), class: "rounded-circle", :size => '100' %>
            <% end %>
          </td>
          <td>
            <%= link_to admin_user_path(user.id) do %>
              <%= user.name %>
            <% end %>
          </td>
          <td>
            <%= user.introduction %>
          </td>
          <td>
            <%= user.email %>
          </td>
          <% if user.is_stopped == true %>
          <td>
            停止
          </td>
          <% else %>
          <td>
            有効
          </td>
          <% end %>
          <td>
            <%= link_to '編集する', edit_admin_user_path(user), class: 'btn btn-outline-secondary' %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
  
  <div>
    <%= paginate @users %>
  </div>
</div>
