<div class="container">
  <div class="row">
    <h4 class="col-10 pt-3"><strong>プロフィールの編集</strong></h4>
  </div>
  
  <div class="col-5 pt-3">
    <%= form_with model: @user do |f| %>
      <div class="form-group">
        <label class="form-label">プロフィール画像 :</label>
        <%= f.file_field :profile_image, accept: "image/*", class: 'profile_image' %>
      </div>
      <div class="form-group">
        <label class="form-label">ユーザー名 :</label>
        <%= f.text_field :name, autofocus: true, placeholder: "例:飲み屋花子", class: 'form-control user_name' %>
      </div>
      <div class="form-group">
        <label class="form-label">自己紹介文 :</label>
        <%= f.text_area :introduction, autofocus: true, placeholder: "100文字以内", class: 'form-control user_introduction' %>
      </div>
      <div class="form-group">
        <label class="form-label">性別 :</label>
        <%= f.select :gender, User.genders.keys.map {|k| [I18n.t("enums.user.gender.#{k}"), k]} %>
      </div>
      <div class="form-group">
        <label class="form-label">メールアドレス :</label>
          <%= f.text_field :email, placeholder: "例:nomibar@com", class: 'form-control user_email' %>
      </div>
      <div class="form-group">
        <%= f.submit "変更する", class: "btn btn-outline-info" %>
      </div>
    <% end %>
  </div>
</div>