<h1>情報編集ページ</h1>
<%= form_with model: @user do |f| %>
  <h4>プロフィール画像</h4>
    <%= f.file_field :profile_image, accept: "image/*" %>
  <h4>ユーザーネーム</h4>
    <%= f.text_field :name, autofocus: true, placeholder: "例:飲み屋花子" %>
  <h4>自己紹介文</h5>
    <%= f.text_area :introduction, autofocus: true, placeholder: "100文字以内" %>
  <h4>メールアドレス</h5>
    <%= f.text_field :email, placeholder: "例:nomibar@com" %></br>
    <%= f.submit "変更する", class: "btn btn-outline-secondary" %>
<% end %>
  