<div class="container">
  <div class="row">
    <h4 class="col-12 pt-3"><strong><%= @user.name %>さんのページ</strong></h4>
  </div>
  
  <div class="row">
    <div class="col-sm-5 col-md-4">
      <%= image_tag @user.get_profile_image(200,200), class: "rounded-circle" %>
    </div>
    
    <div class="col-sm-4 col-md-5 p-3">
      <div class="row border-bottom border-secondary">
        <h5>名前 : <%= @user.name %></h5>
      </div>
      <div class="row border-bottom border-secondary pt-3">
        <h5>性別 : <%= @user.gender_i18n %></h5>
      </div>
        
      <div class="row border-bottom border-secondary pt-3">
        <h5>自己紹介 : <%= @user.introduction %></h5>
      </div>
    </div>
    
    <div class="row">
      <div class="col p-3">
      <% if @user == current_user %>
        <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-outline-secondary" %>
        <%= link_to "いいねした投稿", favorites_user_path(@user), class: "btn btn-outline-danger" %>
      <% end %>
      </div>
    </div>
  </div>
  
    <div class="row">
      <h4 class="col-10 pt-3"><strong>投稿一覧</strong></h4>
    </div>
    
    <!--並び替え-->
    <div class="row">
      <p class="col text-left">
        <%= sort_link(@q, :updated_at, '新着順' ) %>
        <%= sort_link(@q, :favorites_count, 'いいねが多い順' ) %>
      </p>
    </div>
    
    <!--会員投稿一覧-->
    <div class="row">
    <% if @posts.present? %>
      <%= render "public/posts/posts_index", posts: @posts %>
    <% else %>
      <div class="mx-auto mt-5">
        <h3><strong>投稿はありません</strong></h3>
      </div>
    <% end %>
    </div>
      
    <div class="mx-auto">
      <%= paginate @posts %>
    </div>
  </div>
</div>