<div class="container px-5 px-sm-0">
  <div class="row">
    <h5 class="col-8 py-4"><%= @user.name %>さんのページ</h5>
  </div>
    <div class="row">
      <div class="col-4">
      <%= image_tag @user.get_profile_image(120,120), class: "rounded-circle card-image" %><br>
      </div>
      <table class="table col-2">
        <tbody>
          <tr>
            <th scope="row">性別</th>
            <td><%= @user.gender_i18n %></td>
          </tr>
          <tr>
            <th scope="row">自己紹介</th>
            <td><%= @user.introduction %></td>
          </tr>
        </tbody>
      </table>
      <% if @user == current_user %>
        <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-outline-secondary" %>
      <% end %><br>
      
      <%= link_to "いいねした投稿", favorites_user_path(@user), class: "btn btn-outline-danger" %>

    <!--会員投稿一覧-->
    <div class="col-8 pt-2">投稿一覧
    <%= render "public/posts/posts_index", posts: @posts %>
    </div>
    <% paginate @posts %>
    </div>

  </div>
</div>